.track-unit {
    width: 2em;
    height: 2em;
    margin-right: 4px;
    background-color: #464646;
    border-color: #464646;
    border-width: 0.1em 0.1em 0.1em 0.1em;
    border-style: solid;
    display: inline-block;
    transition: background-color 100ms, border-color 100ms;
    cursor: pointer;
}

.track-unit:hover {
    border-color: #5f5f5f;
    background-color: #5f5f5f;
    transition: none;
}

.vertical-mode .track-unit {
    margin-bottom: 4px;
    display: block;
}

.track-unit.track-unit-on {
    border-color: var(--color-ui-accent);
    background-color: var(--color-ui-accent);
    transition: none;
}

.track-unit.track-unit-on:hover {
    border-color: var(--color-ui-accent-hover);
    background-color: var(--color-ui-accent-hover);
}

.track-unit.track-unit-on.track-unit-accent {
    border-color: var(--color-ui-neutral-light);
}

.track-unit.track-unit-on.track-unit-ghost {
    opacity: 60%;
}