.beat {
    padding: 1em;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    width: inherit;
    flex-direction: column;
}

.vertical-mode .beat {
    height: inherit;
    overflow-x: hidden;
    overflow-y: scroll;
    display: block;
}
