.beat-settings {
    margin-bottom: 0.5em;
    display: flex;
    height: 3.5em;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.beat-settings > * {
    margin-right: 0.2em;
}
.beat-settings:last-child {
    margin-right: 0;
}

.beat-settings-time-sig-up {
    display: block;
}

.beat-settings-time-sig-down {
    display: block;
}

.beat-settings-option {
    display: inline-block;
}

.beat-settings-option-group {
    align-self: stretch;
}

.beat-settings-time-sig input {
    margin: auto;
}

.beat-settings-name-field {
    width: 5em;
}

.beat-settings .loop-settings {
    text-align: left;
    flex: auto;
}

.beat-settings .loop-settings-option.hide {
    display: none;
}

.beat-settings .loop-settings-option {
    flex: auto;
    padding-right: 1em;
}