.beat-settings {

}

.beat-settings-title-input {
    width: 100%;
    height: 2em;
}

.beat-settings-title {
    width: 100%;
    font-weight: bold;
    padding: 0.5em;
    transition: background-color 200ms;
    cursor: pointer;
}

.beat-settings-title:hover {
    background-color: var(--color-ui-neutral-dark-hover);
}

.beat-settings-lower {
    height: 3.5em;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
}
.beat-settings-lower > * {
    margin-right: 0.2em;
}

.beat-settings-lower:last-child {
    margin-right: 0;
}

.beat-settings .loop-settings {
    text-align: left;
    flex: auto;
}

.beat-settings .loop-settings-option.hide {
    display: none;
}

.beat-settings .loop-settings-option {
    flex: auto;
    padding-right: 1em;
}