.beat-settings {
    padding: 1em;
    display: inline-flex;
    text-align: center;
    justify-content: space-evenly;
}

.beat-settings-time-sig-up {
    display: block;
}

.beat-settings-time-sig-down {
    display: block;
}

.beat-settings-option {
    display: inline-block;
}

.beat-settings-option-group {
    align-self: stretch;
}

.beat-settings-time-sig input {
    margin: auto;
}

.beat-settings-name-field {
    margin: auto auto auto auto;
    width: 5em;
}