.number-input {
    text-align: center;
    white-space: nowrap;
}

.number-input-label {
    display: none;
}

.number-input-label.top {
    display: block;
    margin-bottom: 0.5em;
}

.number-input-label.left {
    display: inline-block;
    margin-right: 0.5em;
}

input[type="number"].number-input-input {
    position: relative;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    text-align: center;
    width: 3em;
    border-style: none;
    border-width: 0;
    border-radius: 0;
    background-color: var(--color-ui-neutral-light);
    color: var(--color-p-dark);
    z-index: 1;
}

input[type="number"].number-input-input::-webkit-inner-spin-button,
input[type="number"].number-input-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input-button {
    border-width: 0;
    background-color: var(--color-ui-neutral-dark);
    color: var(--color-ui-neutral-light);
    cursor: pointer;
}
.number-input-button:hover {
    background-color: var(--color-ui-neutral-dark-hover);
    color: var(--color-ui-neutral-light-hover);
}
.number-input-button:active {
    background-color: var(--color-ui-neutral-dark-active);
    color: var(--color-ui-neutral-light-active);
}

.number-input-inc {
    width: 1.4em;
    border-radius: 0 0.5em 0.5em 0;
}

.number-input-dec {
    width: 1.4em;
    border-radius: 0.5em 0 0 0.5em;
}

.number-input.disabled {
    filter: brightness(0.8);
}
.number-input.disabled input[type="number"].number-input-input {
    color: var(--color-p-light);
    background-color: var(--color-ui-neutral-dark);
}
.number-input.disabled .number-input-button {
    cursor: default;
}
.number-input.disabled .number-input-button:hover {
    background-color: var(--color-ui-neutral-dark);
}
