.loop-settings {
    margin-top: 1em;
}

.loop-settings-option-group {
}

.loop-settings-option > label {
    width: 5em;
    text-align: left;
}

.loop-settings > p {
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.loop-settings-option {
    display: flex;
    justify-content: center;
}

.loop-settings-option.hide {
    display: none;
}