.stage-title-bar {
    position: absolute;
    background-color: var(--color-bg-light);
    padding: 15px;
    border-radius: 0 0 5px 5px;
    color: var(--color-title-light);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stage-title-bar * {
    flex: 1;
}

.stage-title-bar h2 {
    margin: 0;
}