.beat-group-settings {
}

.beat-group-settings-options {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.beat-group-settings-option {
    text-align: center;
}

.beat-group-settings-option-group {
    display: none;
}
.beat-group-settings-option-group.visible {
    display: inline-block;
}
