.beat-unit {
    width: 2em;
    height: 2em;
    margin-right: 4px;
    background-color: var(--color-ui-neutral-dark);
    border-width: 0.1em 0.1em 0.1em 0.1em;
    border-color: var(--color-ui-neutral-dark);
    border-style: solid;
    display: inline-block;
    transition: background-color 150ms;
    cursor: pointer;
}

.vertical-mode .beat-unit {
    margin-bottom: 4px;
    display: block;
}

.beat-unit:hover {
    border-color: var(--color-ui-neutral-dark-hover);
    background-color: var(--color-ui-neutral-dark-hover);
    transition: none;
}

.beat-unit.beat-unit-ghost:hover {
    background-color: #c9e2c9;
}

.beat-unit.beat-unit-on {
    background-color: var(--color-ui-accent);
    border-color: var(--color-ui-accent);
    transition: none;
}

.beat-unit.beat-unit-on.beat-unit-ghost {
    background-color: darkseagreen;
}