.beat:first-child {
    padding-left: 5px;
}

.beat:last-child {
    padding-right: 0;
}

.beat > * {
    padding-right: 1em;
    padding-left: 1em;
}

.beat-settings-btn {
    cursor: pointer;
    line-height: 2em;
    display: inline-block;
    height: 2em;
    border: 1px solid grey;
    border-radius: 1em;
    user-select: none;
    transition: background-color 150ms;
}

.beat-settings-btn:hover {
    background-color: #eaeaea;
}

.beat-settings-btn.active {
    background-color: lightgrey;
    transition: none;
}

.beat-unit-block {
    height: 2em;
}

.beat-title {
    line-height: 2em;
    width: 3em;
    margin: 0;
}

.beat-spacer {
    display: inline-block;
    width: 1em;
    height: 2em;
}

.beat-main {
    display: inline-flex;
}

.beat-settings-container {
    display: flex;
}

.beat {
    width: max-content;
}